* {
  box-sizing: border-box;
}
:host {
  overflow: hidden;
}
button {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}

.nav-dropdown {
  position: absolute;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.menu-btn {
  float: right;
  font-size: 1.2rem;
  border: solid 1.3px var(--dark-theme-text);
  color: var(--dark-theme-text);
  border-radius: 5px;
  width: 150px;
  height: 53px;
  background-color: var(--dark-theme-background);
}
.open:not(.mobile) {
  .menu-btn {
    border: #2e6f40;
    color: #efefef;
    background-color: var(--dark-theme-green);
    box-shadow: inset 0px 1px 2.5px 1.5px hsla(0, 0%, 100%, 0.075);
    clip-path: inset(0px 0px 2px 0px);
  }
}
.menu-list {
  width: 235px;
  height: 100%;
  border-radius: 3px;
  background-color: var(--dark-theme-green);
  box-shadow: inset 0 0 1.5px 1.5px hsla(0, 0%, 100%, 0.075);
  margin-top: -3.5px;
}
.nav-dropdown:not(.mobile) .menu-list.closed {
  opacity: 0;
  visibility: hidden;
}
.menu-item {
  position: relative;
  list-style: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.menu-item.selected::before,
.menu-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  height: 30px;
  background-color: var(--dark-theme-caramel);
  margin: auto 0;
}

.menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 1.3rem;
  color: var(--dark-theme-text);
}
.menu-item.selected a {
  color: var(--dark-theme-caramel);
}

.item-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-line {
  display: none;
}

/* hamburger menu */
:host:has(.mobile) {
  .open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
  }
}
.mobile {
  i, 
  .menu-btn-text {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 100vw;
    border-radius: 30px 0 0 30px;
    background-color: var(--dark-theme-green);
    overflow: hidden;
    touch-action: none;
    width: 85%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    border: none;
    background: transparent;
    cursor: pointer;
    width: auto;
  }
  .hamburger-line {
    display: inline;
    border-top: solid 4px var(--dark-theme-text);
    width: 36px;
    border-radius: 3px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: none;
  }

  .menu-item {
    text-align: center;
    font-size: 22px;
    width: 100%;
    height: 33%;
    box-shadow: inset 0 0 1.5px 1.5px hsla(0, 0%, 100%, 0.075);

    a {
      display: flex;
      justify-content: center;
      padding-left: 0;
    }

    &:hover {
      &::before {
        left: 0;
        width: 7px;
        height: 40%;
      }
    }

    &.selected {
      &::before {
        left: 0;
        width: 7px;
        height: 40%;
      }
    }
  }

  &.open {
    .menu-btn {
      position: fixed;
      top: 1.7rem;
      right: 0;
      transform: translateX(-85vw);
      z-index: 2;
    }

    .menu {
      transform: translateX(-85vw);
      transition: transform 0.7s ease;

      ul {
        width: 100%;
        height: 100%;
      }
    }

    .hamburger-line {
      border-top-width: 6px;

      &.line-top {
        transform: rotate(45deg) translate(6px, 11px);
      }
      &.line-middle {
        opacity: 0;
      }
      &.line-bottom {
        transform: rotate(-45deg) translate(6px, -11px);
      }
    }
  }
}
