<template id="nav-dropdown-template">
  <div class="nav-dropdown">
    <button class="menu-btn">
      <span class="menu-btn-text">Projects</span>
      <i class="fa-solid fa-caret-down"></i>
      <span class="hamburger-line line-top"></span>
      <span class="hamburger-line line-middle"></span>
      <span class="hamburger-line line-bottom"></span>
    </button>
    <div class="menu">
      <ul class="menu-list closed">
        <!-- Dynamic rendering of menu items -->
      </ul>
    </div>
</template>
