<template id="nav-dropdown-template">
  <div class="nav-dropdown">
    <button class="menu-btn">
      <span class="menu-btn-text">Projects</span>
      <i class="fa-solid fa-caret-down"></i>
      <span class="hamburger-line line-top"></span>
      <span class="hamburger-line line-middle"></span>
      <span class="hamburger-line line-bottom"></span>
    </button>
    <div class="menu">
      <ul class="menu-list closed">
        <!-- <li class="nav-dropdown-list-item" data-item-index="0">
          <a><span class="item-label">Project 1</span></a>
        </li>
        <li class="nav-dropdown-list-item" data-item-index="1">
          <a><span class="item-label">Project 2</span></a>
        </li>
        <li class="nav-dropdown-list-item" data-item-index="2">
          <a><span class="item-label">Project 3</span></a>
        </li> -->
      </ul>
    </div>
</template>
