<template id="carousel-component-template">
  <section part="carousel-container" class="carousel-container" aria-label="projects carousel">
    <!-- using ul conveys number of items in the list to screen reader users; can skip the list using keyboard (navigational shortcut) -->
    <ul class="carousel">
      <!-- <li part="item" class="item" aria-label="slide 1 of 5">
        <img src="">
        <div class="item-label-container">
          <span class="item-label">Project 1</span>
        </div>
      </li>
      <li class="item" aria-label="slide 1 of 5">
        <img src="">
        <div class="item-label-container">
          <span class="item-label">Project 1</span>
        </div>
      </li>
      <li class="item" aria-label="slide 1 of 5">
        <img src="">
        <div class="item-label-container">
          <span class="item-label">Project 1</span>
        </div>
      </li> -->
    </ul>
  </section>
</template>